.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.badge-squid {
  background-color: tomato;
  width: 32px;
  height: 25px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
